body {
    font-family: Arial, sans-serif;
    background: #e8f1ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 32px;
    color: #0055dd;
    margin-top: 20px;
}

.mode-selector button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #0077ff;
    background: white;
    cursor: pointer;
    font-size: 16px;
}

.mode-selector .active {
    background: #0077ff;
    color: white;
}

.progress-bar {
    width: 80%;
    height: 12px;
    background: #cfe0ff;
    margin: 15px auto;
    border-radius: 8px;
}

#progressFill {
    width: 0%;
    height: 100%;
    background: #1160ff;
    border-radius: 8px;
}

.card {
    width: 70%;
    margin: 15px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.item-image {
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.bin-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.bin-btn {
    width: 130px;
    height: 120px;
    background: white;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.bin-btn:hover {
    transform: scale(1.05);
}

.bin-icon {
    width: 60px;
    height: 60px;
}

#feedback {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.result-icon {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    margin-right: 10px;
    animation: pop 0.3s ease;
}

.correct-text { color: green; }
.wrong-text { color: red; }

@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.study-btn {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #0066ff;
    background: white;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 30px;
}
